<% if current_admin || current_user %> 
<div class="m-4 relative overflow-x-auto flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Menus
        </th>
      </tr>
    </thead>
    <tbody>
      <% @menus.each do |menu| %>
        <% if menu.end_date.nil? || (menu.start_date <= Date.today && menu.end_date >= Date.today) %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="px-6 py-4">
              <%= link_to menu.name, restaurant_menu_path(@restaurant, menu), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %> 
            </td>             
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>     
  <br/>
  <div>
    <%= link_to 'Cadastrar cardápio', new_restaurant_menu_path(@restaurant.id), class: "inline-flex items-center text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-900" if current_admin%>
  </div>
</div>
<% end %>

