<section class="bg-slate-500">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Editar Restaurante</h2>
      <% if @restaurant.errors.any? %>
        <ul>
          <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= render 'form' %>  
  </div>
</section>