<div>
<h3> Novo Restaurante </h3>

<% if @restaurant.errors.any? %>
  <ul>
    <% @restaurant.errors.full_messages.each do |message| %>
     <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= render 'form' %>  
</div>
